<!-- start about -->

<!-- start  head  -->
<section class="py-8 md:py-12 px-20 md:px-40 bg-main w-2/3 my-6 md:my-12">
  <h2 class="text-white text-xl md:text-3xl main-font">About Us</h2>
</section>
<!-- end  head  -->

<!-- start about-content -->
<section class="about-content flex items-center justify-center py-20  relative">
  <div class="w-11/12 p-6 z-20 text-white text-center">
    <h2 class="text-4xl asst-font my-10">The Restaurant</h2>
    <p>
      I'm a paragraph. Click here to add your own text and edit me.It’s easy.
      Just click “Edit Text” or double click me to add your own content and make changes to the font.
      Feel free to drag and drop me anywhere you like on your page.
      I’m a great place for you to tell a story and let your users know a little more about you.
      This is a great space to write a long text about your company and your services.
      You can use this space to go into a little more detail about your company.
      Talk about your team and what services you provide.
      Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors.
      Make your company stand out
    </p>
  </div>
</section>
<!-- end about-content -->

<!-- start Kitchen -->
<section class=" bg-asst py-5">
  <div class="flex flex-wrap items-center justify-center">
    <div class="w-full md:w-2/4 p-7 hidden md:block">
      <div class="w-8/12 h-5/6 mx-auto">
        <img class="object-cover rounded-2xl" src="../../../asset/images/about2.avif" alt="image" loading="lazy"/>
      </div>
    </div>
    <div class="flex items-center justify-center w-full md:w-2/4 p-7">
      <div class="flex justify-center flex-col w-9/12 h-9/12 text-center md:text-start">
        <h2 class="text-font text-5xl py-4 mb-4 font-light text-gold">Our Kitchen</h2>
        <p class="text-gray-500 mb-9">
          I'm a paragraph. Click here to add your own text and edit me.
          It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
          Feel free to drag and drop me anywhere you like on your page.
          I’m a great place for you to tell a story and let your users know a little more about you.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- end Kitchen -->

<!-- end about -->

<app-footer></app-footer>
